@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: 37, 99, 235;
	--primary-light: 219, 234, 254;
	--secondary: 37, 99, 235;
}

html {
	scroll-behavior: smooth;
}

body {
	color: #333;
	background-color: #fff;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
